/* CSSを書くときは ""必ず"" コメントを振ってください */

/* トップタイトルのCSS */
.toptitle {
	text-align : center;
}

/* グローバルメニューのCSS */
.top_menu {
	position: sticky;
	top : 0;
	background: #8cc6ff;
}

/* グローバルメニューのURLのCSS① */
.top_url{
	width: 350px;
    margin: auto;
	display : flex;
}

/* グローバルメニューのURLのCSS② */
.top_list{
	list-style: none;
	margin-left: 20px;
}

/* 相対位置の指定 */
.wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

/* 	sticky外し */
footer{
    width: 100%;
    text-align: center;
    padding: 1px 0;
    bottom: 0; /*下に固定*/
}
